<div class="d-lg-flex d-md-flex my-box-light flex-wrap mt-3">
  <% posts.each do |post| %>
    <div class="my-box-post col-sm-4">
      <%= link_to post_path(post) do %>
      <div class="index mt-3 mb-3">
        <%= attachment_image_tag post, :image, :fill, 200, 200, format: 'jpeg', fallback: "unnamed.jpg", size:'200x200' %>
        <p><%= post.movie %></p>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @posts %>
