<div class="container mt-5">
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h3>Editing post</h3>
    <div id="error">
      <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
    </div>
    <%= render 'form', post: @post %>
    </div>
  </div>
</div>