<div class="about">
  <div class="about-visual-content">
    <p class="about-visual-text">
      Here you can share<br>
      your impressions of <br>
      the movies you watched.
    </p>
  </div>

  <div class="d-flex flex-row">
    <div class="about-image2"><%= image_tag 'about2.jpg', style:"width: 100%;height: 300px;"%></div>
    <div class="about-text2">
      Feel free to post your impressions of the movie.
    </div>

  </div>

</div>