<div class="about-visual">
  <div class="about-visual-content">
    <p class="about-visual-text">
      Here you can share<br>
      your impressions of <br>
      the movies you watched.
    </p>
  </div>
</div>