<div class="about">
  <div class="about-visual-content">
    <p class="about-visual-text">
      Here you can share<br>
      your impressions of <br>
      the movies you watched.
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <div class="about-image"><%= image_tag 'about2.jpg', style:"width: 100%;height: 300px;"%></div>
    <div class="about-text">
      Feel free to post your impressions of the movie.
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="about-text">
      Feel free to post your impressions of the movie.
    </div>
    <div class="about-image"><%= image_tag 'about3.jpg', style:"width: 100%;height: 300px;"%></div>
  </div>
  <div class="d-flex  justify-content-center">
    <div class="about-image"><%= image_tag 'about4.jpg', style:"width: 100%;height: 300px;"%></div>
    <div class="about-text">
      Feel free to post your impressions of the movie.
    </div>
  </div>
</div>