<div class="container">
  <div class="m-auto text-center h-100 w-100 d-flex align-items-center justify-content-center">
    <div>
      <h3>本当に削除しますか？</h3>
      </br>
      <p>削除すると、ユーザー登録情報や</br>
      これまでの投稿が閲覧できなくなります。</br>
      削除する場合は、「削除する」をクリックしてください。</p>
       </br>
      <%= flash[:error] %>
      <%= link_to "削除しない", members_path, class: "btn btn-primary" %>
      <% if member_signed_in? && @member.id == current_member.id %>
         <%= link_to "削除する", hide_member_path(current_member), method: :put, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>