<div class="container">
  <div class="row no-gutters">
    <h3 class="col-12 col-sm col-md-8 mt-5">Followers</h3>
  </div>
  <div class="col-12">
  <%= render 'follow-index', members: @members %>
  </div>
</div>
<%= paginate @members %>