<div class="container">
  <div class="row no-gutters">
    <h3 class="col-12 col-sm col-md-8 mt-5">Time line</h3>
  </div>

  <% if @members.count > 0 %>
    <%= render 'member/posts/index', posts: @posts %>
  <% elsif @posts.count > 0 %>
    <%= render 'member/posts/index', posts: @posts %>
  <% else %>
    <p class="mx-auto" style="width: 90%;">Let's post!</p>
    <p class="mx-auto" style="width: 90%;">Let's follow users!!</p>
  <% end %>
</div>
