/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 #notice,.text-active {
  color: green;
 }

 #alert,#error,.text-invalid {
  color: red;
 }

 footer {
  background-color: #EBEBEB;
  padding: 30px 0;
 }

 body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
 }
 main {
  flex: 1;
  font-family: 'Alegreya Sans SC', sans-serif;
 }

 header {
  position: sticky;
  top: 0;
  z-index: 50;
  font-family: 'Alegreya Sans SC', sans-serif;
 }

  a {
    color: #698394;
  }
  h3 {
   text-shadow: 2px 2px 2px #D9E1EA;
   color: #698394;
  }
  .pagination {
   justify-content: center;
  }

// top
 #theTarget {
  z-index: 0;
 }

.top-visual-content {
  height: 500px;
  background-image: image-url("image6.jpg");
  background-size: cover;
}

.top-visual-text {
  padding-top: 105px;
  padding-left: 50px;
}

// about
.about {
  margin: 40px 0 40px 0;
}

.about-visual-content {
  height: 500px;
  background-image: image-url("about1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.about-visual-text {
  padding-top: 105px;
  padding-left: 50px;
}

.about-text {
  width: 380px;
  margin-top: 20px;
}
.about-image{
  border: 1px solid #ddd;
  width: 380px;
  margin-top: 20px;
  overflow: hidden;
}
.about-image img{
  width: 100%;
  transform: scale(1.1);
  cursor: pointer;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}
.about-image img:hover{
  filter: grayscale(0);
  transition-duration: 0.5s;
}

.about-text {
  padding: 30px;
}

.about-form {
  margin: 30px;
  display: inline-block;
  padding: .60em 2em;
  border: 2px solid #333;
  border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
}

/*フェードインアニメーションの指定*/
.scrollanime {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}
@keyframes fadeInDown {
  0% {
      opacity: 0;
  }
  100% {
  opacity: 1;
  transform: translate(0);
  }
}
.downup {transform: translateY(100px);}

// contact
.table input[type="text"] {
  width: 200px;
  height: 30px;
}

// signup,signin
.signup-form,.signin-form,.admin-signin-form,.admin-signup-form {
  padding: 60px;
}

.signin-bg {
  background-image: image-url("signin.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-position: center;
  height: 500px;
}

.signup-bg {
  background-image: image-url("signup.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-position: center;
  height: 500px;
}

// mypage
.mypage-form,.mypage-form-follow{
  margin-bottom: 20px;
}

.my-box-post {
  transition-duration: 0.5s;
}

// post  timeline index
.index {
  position: relative;
  padding: 1rem 2rem calc(1rem + 8px);
  background: #D9E1EA;
}
.index:before {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  content: '';
  border: 1.5px solid #000;
}

// comment
#comments_area{
 list-style:none;
}

// user index
.my-box-member {
  overflow: hidden;
}
.my-box-member img {
  transition: 0.5s;
}
.my-box-member img:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}


@media screen and (max-width: 544px) {
  // top
  .top-visual-content{
   background-position: center;
   height: 400px;
  }

  .top-visual-text {
    padding-top: 100px;
  }

// about
  .about-visual-content {
    height: 250px;
  }

  .about-visual-text {
    padding-top: 50px;
  }

  .about-form {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
  }

  // signup,signin
  .signup-bg,.signin-bg {
    height: 720px;
  }

  // フォローフォロワー数の非表示
  .hidden {
    display:none;
  }

  // ユーザー一覧
  .my-box-member {
    padding-left: 100px;
  }

  // マイページ
  .my-box-post {
    padding-left: 80px;
  }
  .mypage-container {
    margin-left: 40px;
  }
  .mypage-form,.mypage-form-follow {
    display: inline-block;
  }

}

