/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 #notice,.text-active {
  color: green;
 }

 #alert,#error,.text-invalid {
  color: red;
 }

 footer {
  background-color: #EBEBEB;
  padding: 30px 0;
 }

 body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
 }
 main {
  flex: 1;
  font-family: 'Alegreya Sans SC', sans-serif;
 }

 header {
  position: sticky;
  top: 0;
  z-index: 50;
  font-family: 'Alegreya Sans SC', sans-serif;
 }

 #theTarget {
  z-index: 0;
 }

.social  {
  text-align: center;
  font-size: 25px;
  padding-top: 250px;
}
.social i {
  display: inline-block;
  margin-left: 20px;
}

.top-visual-content {
  height: 500px;
  background-image: image-url("image6.jpg");
  background-size: cover;
}

.top-visual-text {
  padding-top: 105px;
  padding-left: 50px;
}

.about {
  margin: 40px 0 40px 0;
}

.about-visual-content {
  height: 500px;
  background-image: image-url("about1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.about-visual-text {
  padding-top: 105px;
  padding-left: 50px;
}

.about-text {
  width: 380px;
  margin-top: 20px;
}
.about-image{
  border: 1px solid #ddd;
  width: 380px;
  margin-top: 20px;
  overflow: hidden;
}
.about-image img{
  width: 100%;
  transform: scale(1.1);
  cursor: pointer;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}
.about-image img:hover{
  filter: grayscale(0);
  transition-duration: 0.5s;
}

.about-text {
  padding: 30px;
}

.about-form {
  margin: 30px;
  display: inline-block;
  padding: .75em 4em;
  border: 2px solid #333;
  border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
}

.table input[type="text"] {
  width: 250px;
  height: 30px;
  }

.signup-form,.signup-image,.signin-form {
  padding-top: 40px;
}

.signin-image{
  padding-top: 40px;
  overflow: hidden;
  cursor: pointer;
}
.signin-image img{
  width: 100%;
  transition-duration: 0.5s;
}
.signin-image:hover img{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.signup-image{
  padding-top: 40px;
  overflow: hidden;
}
.signup-image img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.5s;
}
.signup-image img:hover{
  transform: scale(1.2) rotate(9deg);
  transition-duration: 0.5s;
}

a {
  color: #698394;
}

h3 {
 text-shadow: 1.5px 2px 1.5px #698394;
}


.index {
  position: relative;
  padding: 1rem 2rem calc(1rem + 8px);
  background: #D9E1EA;
}

.index:before {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  content: '';
  border: 1.5px solid #000;
}

#comments_area{
 list-style:none;
}
.pagination {
 justify-content: center;
}

@media screen and (max-width: 425px) {
  .top-visual-content{
   background-position: center;
   height: 400px;
  }

  .top-visual-text {
    padding-top: 100px;
  }

  .social {
    padding-top: 150px;
  }

/*
  #theTarget {
    height: 300px;
  }
*/
  .about-visual-content {
    height: 250px;
  }

  .about-visual-text {
    padding-top: 50px;
  }
  .hidden {
    display:none;
  }

}

