/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 #notice {
  color: green;
 }

 #alert {
  color: red;
 }

 #error {
  color: red;
 }

 .text-active {
  color: green;
 }
 .text-invalid {
  color: red;
 }

 footer {
  background-color: #EBEBEB;
  padding: 30px 0;
 }

 body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
 }
 main {
  flex: 1;
 }

 header {
  position: sticky;
  top: 0;
  z-index: 50;
 }

 #theTarget {
  z-index: 0;
 }

.social  {
  text-align: center;
  font-size: 25px;
  padding-top: 250px;
}
.social i {
  display: inline-block;
  margin-left: 20px;
}

.top-visual-content {
  height: 500px;
  background-image: image-url("image6.jpg");
  background-size: cover;
}

.top-visual-text {
  padding-top: 105px;
  padding-left: 50px;
}

.about-visual-content {
  height: 500px;
  background-image: image-url("about1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 40px;
}
.about-visual-text {
  padding-top: 105px;
  padding-left: 50px;
}

.about-image, .about-text {
  width: 380px;
  margin-top: 20px;
}

.about-text {
  padding: 30px;
}




 .signup-form,.signup-image,.signin-form,.signin-image {
  padding-top: 40px;
 }

 .signup-form a,.signin-form a {
  color: #698394;
 }



 .comment-list-none,#comments_area{
  list-style:none;
 }
 .pagination {
  justify-content: center;
 }

